<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duomiao.mapper.EnterpriseInfoMapper">
  <resultMap id="BaseResultMap" type="com.duomiao.entity.EnterpriseInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="EI_ENINAME" jdbcType="VARCHAR" property="eniname" />
    <result column="EI_RESUME" jdbcType="VARCHAR" property="resume" />
    <result column="EI_IMG_URL" jdbcType="VARCHAR" property="imgUrl" />
    <result column="EI_ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="EI_TEL" jdbcType="VARCHAR" property="tel" />
    <result column="EI_EMPLOYEENUM" jdbcType="INTEGER" property="employeenum" />
    <result column="EI_INDUSTRY" jdbcType="VARCHAR" property="industry" />
    <result column="EI_UNISCID" jdbcType="VARCHAR" property="uniscid" />
    <result column="EI_REGTIME" jdbcType="DATE" property="regtime" />
    <result column="EI_REG_CAPITAL" jdbcType="VARCHAR" property="regCapital" />
    <result column="EI_STATUS" jdbcType="CHAR" property="status" />
    <result column="EI_INTRODUCTION" jdbcType="LONGVARCHAR" property="introduction" />
    <result column="EI_WELFARE" jdbcType="LONGVARCHAR" property="welfare" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.duomiao.entity.EnterpriseInfoWithBLOBs">
    <result column="EI_INTRODUCTION" jdbcType="LONGVARCHAR" property="introduction" />
    <result column="EI_WELFARE" jdbcType="LONGVARCHAR" property="welfare" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, EI_ENINAME, EI_RESUME, EI_IMG_URL, EI_ADDRESS, EI_TEL, EI_EMPLOYEENUM, EI_INDUSTRY, 
    EI_UNISCID, EI_REGTIME, EI_REG_CAPITAL, EI_STATUS
  </sql>
  <sql id="Blob_Column_List">
    EI_INTRODUCTION, EI_WELFARE
  </sql>

  <!--自定义sql-->
  <!--Hr查看-->
  <select id="selectByEntId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, EI_ENINAME, EI_RESUME, EI_IMG_URL, EI_ADDRESS, EI_TEL, EI_EMPLOYEENUM, EI_INDUSTRY,
    EI_UNISCID, EI_REGTIME, EI_REG_CAPITAL, EI_STATUS,EI_INTRODUCTION, EI_WELFARE
    from dm_enterprise_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <!--修改企业-->
  <update id="updateById" parameterType="com.duomiao.entity.EnterpriseInfo">
    update dm_enterprise_info
    <set>
      <if test="eniname != null">
        EI_ENINAME = #{eniname,jdbcType=VARCHAR},
      </if>
      <if test="resume != null">
        EI_RESUME = #{resume,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        EI_IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        EI_ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        EI_TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="employeenum != null">
        EI_EMPLOYEENUM = #{employeenum,jdbcType=INTEGER},
      </if>
      <if test="industry != null">
        EI_INDUSTRY = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="uniscid != null">
        EI_UNISCID = #{uniscid,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null">
        EI_REGTIME = #{regtime,jdbcType=DATE},
      </if>
      <if test="regCapital != null">
        EI_REG_CAPITAL = #{regCapital,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        EI_STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="introduction != null">
        EI_INTRODUCTION = #{introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="welfare != null">
        EI_WELFARE = #{welfare,jdbcType=LONGVARCHAR},
      </if>
    </set>
 where ID = #{id,jdbcType=VARCHAR}
  </update>



<!--HR注册企业-->
  <insert id="insertMyEnt" parameterType="com.duomiao.entity.EnterpriseInfo">
    insert into dm_enterprise_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="eniname != null">
        EI_ENINAME,
      </if>
      <if test="resume != null">
        EI_RESUME,
      </if>
      <if test="imgUrl != null">
        EI_IMG_URL,
      </if>
      <if test="address != null">
        EI_ADDRESS,
      </if>
      <if test="tel != null">
        EI_TEL,
      </if>
      <if test="employeenum != null">
        EI_EMPLOYEENUM,
      </if>
      <if test="industry != null">
        EI_INDUSTRY,
      </if>
      <if test="uniscid != null">
        EI_UNISCID,
      </if>
      <if test="regtime != null">
        EI_REGTIME,
      </if>
      <if test="regCapital != null">
        EI_REG_CAPITAL,
      </if>
      <if test="status != null">
        EI_STATUS,
      </if>
      <if test="introduction != null">
        EI_INTRODUCTION,
      </if>
      <if test="welfare != null">
        EI_WELFARE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="eniname != null">
        #{eniname,jdbcType=VARCHAR},
      </if>
      <if test="resume != null">
        #{resume,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="employeenum != null">
        #{employeenum,jdbcType=INTEGER},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="uniscid != null">
        #{uniscid,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null">
        #{regtime,jdbcType=DATE},
      </if>
      <if test="regCapital != null">
        #{regCapital,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="welfare != null">
        #{welfare,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
<!--管理员删除-->

  <!--管理员分页查看-->
  <select id="selectEntInfoList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select ID, EI_ENINAME, EI_RESUME, EI_IMG_URL, EI_ADDRESS, EI_TEL, EI_EMPLOYEENUM, EI_INDUSTRY,
    EI_UNISCID, EI_REGTIME, EI_REG_CAPITAL, EI_STATUS,EI_INTRODUCTION, EI_WELFARE
    from dm_enterprise_info
<where>
  <if test="addressLike != null and addressLike != ''">EI_ADDRESS like '%${addressLike}%'</if>
  <if test="eninameLike != null and eninameLike != ''">and EI_ENINAME like '%${eninameLike}%'</if>
</where>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="mysql-page.mysql_page" />
  </select>

  <!--查看总记录数-->
  <select id="selectEntInfoListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(ID)
    from dm_enterprise_info
    <where>
      <if test="addressLike != null and addressLike != ''">EI_ADDRESS like '%${addressLike}%'</if>
      <if test="eninameLike != null and eninameLike != ''">and EI_ENINAME like '%${eninameLike}%'</if>
    </where>
  </select>

  <select id="selectByExampleWithBLOBs" parameterType="com.duomiao.entity.EnterpriseInfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dm_enterprise_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.duomiao.entity.EnterpriseInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dm_enterprise_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
 select ID, EI_ENINAME, EI_RESUME, EI_IMG_URL, EI_ADDRESS, EI_TEL, EI_EMPLOYEENUM, EI_INDUSTRY,
    EI_UNISCID, EI_REGTIME, EI_REG_CAPITAL, EI_STATUS,EI_INTRODUCTION, EI_WELFARE
    from dm_enterprise_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dm_enterprise_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.duomiao.entity.EnterpriseInfoExample">
    delete from dm_enterprise_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duomiao.entity.EnterpriseInfoWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dm_enterprise_info (EI_ENINAME, EI_RESUME, EI_IMG_URL, 
      EI_ADDRESS, EI_TEL, EI_EMPLOYEENUM, 
      EI_INDUSTRY, EI_UNISCID, EI_REGTIME, 
      EI_REG_CAPITAL, EI_STATUS, EI_INTRODUCTION, 
      EI_WELFARE)
    values (#{eniname,jdbcType=VARCHAR}, #{resume,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{employeenum,jdbcType=INTEGER}, 
      #{industry,jdbcType=VARCHAR}, #{uniscid,jdbcType=VARCHAR}, #{regtime,jdbcType=DATE}, 
      #{regCapital,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{introduction,jdbcType=LONGVARCHAR}, 
      #{welfare,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.duomiao.entity.EnterpriseInfoWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dm_enterprise_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eniname != null">
        EI_ENINAME,
      </if>
      <if test="resume != null">
        EI_RESUME,
      </if>
      <if test="imgUrl != null">
        EI_IMG_URL,
      </if>
      <if test="address != null">
        EI_ADDRESS,
      </if>
      <if test="tel != null">
        EI_TEL,
      </if>
      <if test="employeenum != null">
        EI_EMPLOYEENUM,
      </if>
      <if test="industry != null">
        EI_INDUSTRY,
      </if>
      <if test="uniscid != null">
        EI_UNISCID,
      </if>
      <if test="regtime != null">
        EI_REGTIME,
      </if>
      <if test="regCapital != null">
        EI_REG_CAPITAL,
      </if>
      <if test="status != null">
        EI_STATUS,
      </if>
      <if test="introduction != null">
        EI_INTRODUCTION,
      </if>
      <if test="welfare != null">
        EI_WELFARE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eniname != null">
        #{eniname,jdbcType=VARCHAR},
      </if>
      <if test="resume != null">
        #{resume,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="employeenum != null">
        #{employeenum,jdbcType=INTEGER},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="uniscid != null">
        #{uniscid,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null">
        #{regtime,jdbcType=DATE},
      </if>
      <if test="regCapital != null">
        #{regCapital,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="welfare != null">
        #{welfare,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duomiao.entity.EnterpriseInfoExample" resultType="java.lang.Long">
    select count(*) from dm_enterprise_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dm_enterprise_info
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.eniname != null">
        EI_ENINAME = #{record.eniname,jdbcType=VARCHAR},
      </if>
      <if test="record.resume != null">
        EI_RESUME = #{record.resume,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null">
        EI_IMG_URL = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        EI_ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null">
        EI_TEL = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.employeenum != null">
        EI_EMPLOYEENUM = #{record.employeenum,jdbcType=INTEGER},
      </if>
      <if test="record.industry != null">
        EI_INDUSTRY = #{record.industry,jdbcType=VARCHAR},
      </if>
      <if test="record.uniscid != null">
        EI_UNISCID = #{record.uniscid,jdbcType=VARCHAR},
      </if>
      <if test="record.regtime != null">
        EI_REGTIME = #{record.regtime,jdbcType=DATE},
      </if>
      <if test="record.regCapital != null">
        EI_REG_CAPITAL = #{record.regCapital,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        EI_STATUS = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.introduction != null">
        EI_INTRODUCTION = #{record.introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.welfare != null">
        EI_WELFARE = #{record.welfare,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update dm_enterprise_info
    set ID = #{record.id,jdbcType=VARCHAR},
      EI_ENINAME = #{record.eniname,jdbcType=VARCHAR},
      EI_RESUME = #{record.resume,jdbcType=VARCHAR},
      EI_IMG_URL = #{record.imgUrl,jdbcType=VARCHAR},
      EI_ADDRESS = #{record.address,jdbcType=VARCHAR},
      EI_TEL = #{record.tel,jdbcType=VARCHAR},
      EI_EMPLOYEENUM = #{record.employeenum,jdbcType=INTEGER},
      EI_INDUSTRY = #{record.industry,jdbcType=VARCHAR},
      EI_UNISCID = #{record.uniscid,jdbcType=VARCHAR},
      EI_REGTIME = #{record.regtime,jdbcType=DATE},
      EI_REG_CAPITAL = #{record.regCapital,jdbcType=VARCHAR},
      EI_STATUS = #{record.status,jdbcType=CHAR},
      EI_INTRODUCTION = #{record.introduction,jdbcType=LONGVARCHAR},
      EI_WELFARE = #{record.welfare,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dm_enterprise_info
    set ID = #{record.id,jdbcType=VARCHAR},
      EI_ENINAME = #{record.eniname,jdbcType=VARCHAR},
      EI_RESUME = #{record.resume,jdbcType=VARCHAR},
      EI_IMG_URL = #{record.imgUrl,jdbcType=VARCHAR},
      EI_ADDRESS = #{record.address,jdbcType=VARCHAR},
      EI_TEL = #{record.tel,jdbcType=VARCHAR},
      EI_EMPLOYEENUM = #{record.employeenum,jdbcType=INTEGER},
      EI_INDUSTRY = #{record.industry,jdbcType=VARCHAR},
      EI_UNISCID = #{record.uniscid,jdbcType=VARCHAR},
      EI_REGTIME = #{record.regtime,jdbcType=DATE},
      EI_REG_CAPITAL = #{record.regCapital,jdbcType=VARCHAR},
      EI_STATUS = #{record.status,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duomiao.entity.EnterpriseInfoWithBLOBs">
    update dm_enterprise_info
    <set>
      <if test="eniname != null">
        EI_ENINAME = #{eniname,jdbcType=VARCHAR},
      </if>
      <if test="resume != null">
        EI_RESUME = #{resume,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        EI_IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        EI_ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        EI_TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="employeenum != null">
        EI_EMPLOYEENUM = #{employeenum,jdbcType=INTEGER},
      </if>
      <if test="industry != null">
        EI_INDUSTRY = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="uniscid != null">
        EI_UNISCID = #{uniscid,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null">
        EI_REGTIME = #{regtime,jdbcType=DATE},
      </if>
      <if test="regCapital != null">
        EI_REG_CAPITAL = #{regCapital,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        EI_STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="introduction != null">
        EI_INTRODUCTION = #{introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="welfare != null">
        EI_WELFARE = #{welfare,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.duomiao.entity.EnterpriseInfoWithBLOBs">
    update dm_enterprise_info
    set EI_ENINAME = #{eniname,jdbcType=VARCHAR},
      EI_RESUME = #{resume,jdbcType=VARCHAR},
      EI_IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      EI_ADDRESS = #{address,jdbcType=VARCHAR},
      EI_TEL = #{tel,jdbcType=VARCHAR},
      EI_EMPLOYEENUM = #{employeenum,jdbcType=INTEGER},
      EI_INDUSTRY = #{industry,jdbcType=VARCHAR},
      EI_UNISCID = #{uniscid,jdbcType=VARCHAR},
      EI_REGTIME = #{regtime,jdbcType=DATE},
      EI_REG_CAPITAL = #{regCapital,jdbcType=VARCHAR},
      EI_STATUS = #{status,jdbcType=CHAR},
      EI_INTRODUCTION = #{introduction,jdbcType=LONGVARCHAR},
      EI_WELFARE = #{welfare,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duomiao.entity.EnterpriseInfo">
    update dm_enterprise_info
    set EI_ENINAME = #{eniname,jdbcType=VARCHAR},
      EI_RESUME = #{resume,jdbcType=VARCHAR},
      EI_IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      EI_ADDRESS = #{address,jdbcType=VARCHAR},
      EI_TEL = #{tel,jdbcType=VARCHAR},
      EI_EMPLOYEENUM = #{employeenum,jdbcType=INTEGER},
      EI_INDUSTRY = #{industry,jdbcType=VARCHAR},
      EI_UNISCID = #{uniscid,jdbcType=VARCHAR},
      EI_REGTIME = #{regtime,jdbcType=DATE},
      EI_REG_CAPITAL = #{regCapital,jdbcType=VARCHAR},
      EI_STATUS = #{status,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>