<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duomiao.mapper.EntResumeMapper">
  <resultMap id="BaseResultMap" type="com.duomiao.entity.EntResume">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ER_ENT_ID" jdbcType="VARCHAR" property="entId" />
    <result column="ER_PJ_ID" jdbcType="VARCHAR" property="pjId" />
    <result column="ER_RI_ID" jdbcType="VARCHAR" property="riId" />
    <result column="ER_ADD_TIME" jdbcType="TIMESTAMP" property="addTime" />
    <result column="ER_SEX" jdbcType="CHAR" property="sex" />
    <result column="ER_AGE" jdbcType="VARCHAR" property="age" />
    <result column="ER_ACADEMIC" jdbcType="VARCHAR" property="academic" />
    <result column="ER_ISDEL" jdbcType="CHAR" property="isdel" />
    <result column="ER_DEL_TIME" jdbcType="TIMESTAMP" property="delTime" />
    <association property="publishJob" column="ER_PJ_ID" javaType="com.duomiao.entity.PublishJob" select="com.duomiao.mapper.PublishJobMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, ER_ENT_ID, ER_PJ_ID, ER_RI_ID, ER_ADD_TIME, ER_SEX, ER_AGE, ER_ACADEMIC, ER_ISDEL, 
    ER_DEL_TIME
  </sql>
  <!--动态sql-->

  <!--系统定时删除无效数据-->
  <delete id="deleteInvalidData">
    delete from dm_ent_resume
    where ER_ISDEL = '1'
  </delete>
  <!--投递后插入信息-->
  <insert id="insertEntResume" parameterType="map">
    insert into dm_ent_resume
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="entId != null">
        ER_ENT_ID,
      </if>
      <if test="pjId != null">
        ER_PJ_ID,
      </if>
      <if test="riId != null">
        ER_RI_ID,
      </if>
      <if test="addTime != null">
        ER_ADD_TIME,
      </if>
      <if test="sex != null">
        ER_SEX,
      </if>
      <if test="age != null">
        ER_AGE,
      </if>
      <if test="academic != null">
        ER_ACADEMIC,
      </if>
      <if test="isdel != null">
        ER_ISDEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="entId != null">
        #{entId,jdbcType=VARCHAR},
      </if>
      <if test="pjId != null">
        #{pjId,jdbcType=VARCHAR},
      </if>
      <if test="riId != null">
        #{riId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="academic != null">
        #{academic,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
<!--假删除 设置状态值为1  -->
  <update id="updateForFakeDel" parameterType="java.util.Map">
    update dm_ent_resume set
    ER_ISDEL = '1',ER_DEL_TIME = #{delTime,jdbcType=TIMESTAMP} where ID = #{id,jdbcType=VARCHAR}
  </update>
  <!--恢复 -->
  <update id="recoverEntResumeById" parameterType="java.lang.String">
    update dm_ent_resume set
    ER_ISDEL = '0' where ID = #{id,jdbcType=VARCHAR}
  </update>

<!--hr查看有效状态简历，筛选条件 学历和性别，分页-->
  <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dm_ent_resume
    WHERE
      ER_ISDEL = '0' and ER_ENT_ID = #{entId,jdbcType=VARCHAR}
    <if test="academic != null and academic != ''">
      and ER_ACADEMIC = #{academic,jdbcType=VARCHAR}
    </if>
      <if test="sex != null and sex != ''">
       and ER_SEX = #{sex,jdbcType=CHAR}
      </if>
      order by ER_ADD_TIME desc
  </select>

  <!--查看有效状态简历数量，筛选条件 学历和性别-->
  <select id="getTotal" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    count(ID)
    from dm_ent_resume
    <where>
      ER_ISDEL = '0'
      <if test="academic != null and academic != ''">
        and ER_ACADEMIC = #{academic,jdbcType=VARCHAR}
      </if>
      <if test="sex != null and sex != ''">
        and ER_SEX = #{sex,jdbcType=CHAR}
      </if>
    </where>
  </select>

  <!--查看无效状态简历 状态1为无效-->
  <select id="selectDelData"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dm_ent_resume WHERE
      ER_ISDEL = '1'
      order by ER_DEL_TIME DESC
  </select>
<!--重复投递-->

  <select id="checkSend" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(ID)
    from dm_ent_resume WHERE ER_PJ_ID = #{pjId,jdbcType=VARCHAR} and ER_RI_ID = #{riId,jdbcType=VARCHAR}
  </select>

  <!--动态sql-->
  <select id="selectByExample" parameterType="com.duomiao.entity.EntResumeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dm_ent_resume
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dm_ent_resume
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dm_ent_resume
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.duomiao.entity.EntResumeExample">
    delete from dm_ent_resume
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duomiao.entity.EntResume">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dm_ent_resume (ER_ENT_ID, ER_PJ_ID, ER_RI_ID, 
      ER_ADD_TIME, ER_SEX, ER_AGE, ER_ACADEMIC, 
      ER_ISDEL, ER_DEL_TIME)
    values (#{entId,jdbcType=VARCHAR}, #{pjId,jdbcType=VARCHAR}, #{riId,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{sex,jdbcType=CHAR}, #{age,jdbcType=VARCHAR}, #{academic,jdbcType=VARCHAR}, 
      #{isdel,jdbcType=CHAR}, #{delTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.duomiao.entity.EntResume">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dm_ent_resume
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="entId != null">
        ER_ENT_ID,
      </if>
      <if test="pjId != null">
        ER_PJ_ID,
      </if>
      <if test="riId != null">
        ER_RI_ID,
      </if>
      <if test="addTime != null">
        ER_ADD_TIME,
      </if>
      <if test="sex != null">
        ER_SEX,
      </if>
      <if test="age != null">
        ER_AGE,
      </if>
      <if test="academic != null">
        ER_ACADEMIC,
      </if>
      <if test="isdel != null">
        ER_ISDEL,
      </if>
      <if test="delTime != null">
        ER_DEL_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="entId != null">
        #{entId,jdbcType=VARCHAR},
      </if>
      <if test="pjId != null">
        #{pjId,jdbcType=VARCHAR},
      </if>
      <if test="riId != null">
        #{riId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="academic != null">
        #{academic,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=CHAR},
      </if>
      <if test="delTime != null">
        #{delTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duomiao.entity.EntResumeExample" resultType="java.lang.Long">
    select count(*) from dm_ent_resume
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dm_ent_resume
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.entId != null">
        ER_ENT_ID = #{record.entId,jdbcType=VARCHAR},
      </if>
      <if test="record.pjId != null">
        ER_PJ_ID = #{record.pjId,jdbcType=VARCHAR},
      </if>
      <if test="record.riId != null">
        ER_RI_ID = #{record.riId,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null">
        ER_ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sex != null">
        ER_SEX = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.age != null">
        ER_AGE = #{record.age,jdbcType=VARCHAR},
      </if>
      <if test="record.academic != null">
        ER_ACADEMIC = #{record.academic,jdbcType=VARCHAR},
      </if>
      <if test="record.isdel != null">
        ER_ISDEL = #{record.isdel,jdbcType=CHAR},
      </if>
      <if test="record.delTime != null">
        ER_DEL_TIME = #{record.delTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dm_ent_resume
    set ID = #{record.id,jdbcType=VARCHAR},
      ER_ENT_ID = #{record.entId,jdbcType=VARCHAR},
      ER_PJ_ID = #{record.pjId,jdbcType=VARCHAR},
      ER_RI_ID = #{record.riId,jdbcType=VARCHAR},
      ER_ADD_TIME = #{record.addTime,jdbcType=TIMESTAMP},
      ER_SEX = #{record.sex,jdbcType=CHAR},
      ER_AGE = #{record.age,jdbcType=VARCHAR},
      ER_ACADEMIC = #{record.academic,jdbcType=VARCHAR},
      ER_ISDEL = #{record.isdel,jdbcType=CHAR},
      ER_DEL_TIME = #{record.delTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duomiao.entity.EntResume">
    update dm_ent_resume
    <set>
      <if test="entId != null">
        ER_ENT_ID = #{entId,jdbcType=VARCHAR},
      </if>
      <if test="pjId != null">
        ER_PJ_ID = #{pjId,jdbcType=VARCHAR},
      </if>
      <if test="riId != null">
        ER_RI_ID = #{riId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        ER_ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sex != null">
        ER_SEX = #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null">
        ER_AGE = #{age,jdbcType=VARCHAR},
      </if>
      <if test="academic != null">
        ER_ACADEMIC = #{academic,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        ER_ISDEL = #{isdel,jdbcType=CHAR},
      </if>
      <if test="delTime != null">
        ER_DEL_TIME = #{delTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duomiao.entity.EntResume">
    update dm_ent_resume
    set ER_ENT_ID = #{entId,jdbcType=VARCHAR},
      ER_PJ_ID = #{pjId,jdbcType=VARCHAR},
      ER_RI_ID = #{riId,jdbcType=VARCHAR},
      ER_ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      ER_SEX = #{sex,jdbcType=CHAR},
      ER_AGE = #{age,jdbcType=VARCHAR},
      ER_ACADEMIC = #{academic,jdbcType=VARCHAR},
      ER_ISDEL = #{isdel,jdbcType=CHAR},
      ER_DEL_TIME = #{delTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>