<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duomiao.mapper.HrInfoMapper">
  <resultMap id="BaseResultMap" type="com.duomiao.entity.HrInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="HI_HR_NAME" jdbcType="VARCHAR" property="hrName" />
    <result column="HI_PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="HI_IMG_URL" jdbcType="VARCHAR" property="imgUrl" />
    <result column="HI_ENTID" jdbcType="VARCHAR" property="entid" />
    <result column="HI_FLAG" jdbcType="CHAR" property="flag" />
    <result column="HI_TEL" jdbcType="VARCHAR" property="tel" />
    <result column="HI_REGTIME" jdbcType="TIMESTAMP" property="regtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, HI_HR_NAME, HI_PASSWORD, HI_IMG_URL, HI_ENTID, HI_FLAG, HI_TEL, HI_REGTIME
  </sql>
  <!--自定Sql 分页多条件查询-->
  <select id="selectHrInfoList" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dm_hr_info
    <where>
      <if test="hrNameLike != null and hrNameLike != ''">
        HI_HR_NAME like '%${hrNameLike}%'
      </if>
      <if test="hrName != null and hrName!= ''">
        and HI_HR_NAME = #{hrName,jdbcType=VARCHAR}
      </if>
      <if test="id != null and id != ''">
       and ID = #{id,jdbcType=VARCHAR}
      </if>
    </where>
      order by HI_REGTIME desc
    <include refid="mysql-page.mysql_page" />
  </select>
  <select id="selectHrInfoListCount" parameterType="map" resultType="java.lang.Integer">
    select count(ID)
    from dm_hr_info
    <where>
      <if test="hrNameLike != null and hrNameLike != ''">
        HI_HR_NAME like '%${hrNameLike}%'
      </if>
    </where>
  </select>
<!--注册HR-->
  <insert id="insertHrInfo" parameterType="com.duomiao.entity.HrInfo">
   insert into dm_hr_info (ID,HI_HR_NAME,HI_PASSWORD,HI_FLAG,HI_REGTIME) values(#{id,jdbcType=VARCHAR},#{hrName,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{flag,jdbcType=VARCHAR},#{regtime,jdbcType=TIMESTAMP})
  </insert>
<!--登录验证-->
  <select id="selectMyHrInfo" parameterType="com.duomiao.entity.HrInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dm_hr_info WHERE  HI_HR_NAME =#{hrName,jdbcType=VARCHAR} and HI_PASSWORD = #{password,jdbcType=VARCHAR}
  </select>
<!--HR个人修改-->

  <update id="updateMyHrInfo" parameterType="map">
    update dm_hr_info
    <set>
      <if test="password != null">
        HI_PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        HI_IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="entid != null">
        HI_ENTID = #{entid,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        HI_TEL = #{tel,jdbcType=VARCHAR},
      </if>
    </set>
  where ID = #{id，jdbcType=VARCHAR}
  </update>


  <!--自定义-->
  <select id="selectByExample" parameterType="com.duomiao.entity.HrInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dm_hr_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dm_hr_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dm_hr_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.duomiao.entity.HrInfoExample">
    delete from dm_hr_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duomiao.entity.HrInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dm_hr_info (HI_HR_NAME, HI_PASSWORD, HI_IMG_URL, 
      HI_ENTID, HI_FLAG, HI_TEL, HI_REGTIME
      )
    values (#{hrName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{entid,jdbcType=VARCHAR}, #{flag,jdbcType=CHAR}, #{tel,jdbcType=VARCHAR}, #{regtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.duomiao.entity.HrInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dm_hr_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hrName != null">
        HI_HR_NAME,
      </if>
      <if test="password != null">
        HI_PASSWORD,
      </if>
      <if test="imgUrl != null">
        HI_IMG_URL,
      </if>
      <if test="entid != null">
        HI_ENTID,
      </if>
      <if test="flag != null">
        HI_FLAG,
      </if>
      <if test="tel != null">
        HI_TEL,
      </if>
      <if test="regtime != null">
        HI_REGTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hrName != null">
        #{hrName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="entid != null">
        #{entid,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=CHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null">
        #{regtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duomiao.entity.HrInfoExample" resultType="java.lang.Long">
    select count(*) from dm_hr_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dm_hr_info
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.hrName != null">
        HI_HR_NAME = #{record.hrName,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        HI_PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null">
        HI_IMG_URL = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.entid != null">
        HI_ENTID = #{record.entid,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null">
        HI_FLAG = #{record.flag,jdbcType=CHAR},
      </if>
      <if test="record.tel != null">
        HI_TEL = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.regtime != null">
        HI_REGTIME = #{record.regtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dm_hr_info
    set ID = #{record.id,jdbcType=VARCHAR},
      HI_HR_NAME = #{record.hrName,jdbcType=VARCHAR},
      HI_PASSWORD = #{record.password,jdbcType=VARCHAR},
      HI_IMG_URL = #{record.imgUrl,jdbcType=VARCHAR},
      HI_ENTID = #{record.entid,jdbcType=VARCHAR},
      HI_FLAG = #{record.flag,jdbcType=CHAR},
      HI_TEL = #{record.tel,jdbcType=VARCHAR},
      HI_REGTIME = #{record.regtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duomiao.entity.HrInfo">
    update dm_hr_info
    <set>
      <if test="hrName != null">
        HI_HR_NAME = #{hrName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        HI_PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        HI_IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="entid != null">
        HI_ENTID = #{entid,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        HI_FLAG = #{flag,jdbcType=CHAR},
      </if>
      <if test="tel != null">
        HI_TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null">
        HI_REGTIME = #{regtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duomiao.entity.HrInfo">
    update dm_hr_info
    set HI_HR_NAME = #{hrName,jdbcType=VARCHAR},
      HI_PASSWORD = #{password,jdbcType=VARCHAR},
      HI_IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      HI_ENTID = #{entid,jdbcType=VARCHAR},
      HI_FLAG = #{flag,jdbcType=CHAR},
      HI_TEL = #{tel,jdbcType=VARCHAR},
      HI_REGTIME = #{regtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>