<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duomiao.mapper.PositionCategoryMapper">
  <resultMap id="BaseResultMap" type="com.duomiao.entity.PositionCategory">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PC_TYPE_NAME" jdbcType="VARCHAR" property="typeName" />
    <result column="PC_FATHER_ID" jdbcType="VARCHAR" property="fatherId" />
    <result column="PC_URL" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, PC_TYPE_NAME, PC_FATHER_ID, PC_URL
  </sql>

  <!--自制-->
  <!--添加类别-->
  <insert id="insertCategory" parameterType="com.duomiao.entity.PositionCategory">
    insert into dm_position_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="typeName != null">
        PC_TYPE_NAME,
      </if>
      <if test="fatherId != null">
        PC_FATHER_ID,
      </if>
      <if test="url != null">
        PC_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null">
        #{fatherId,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!--根据父类ID删除类别-->
  <delete id="deleteByFatherId" parameterType="java.lang.String">
    delete from dm_position_category
    where PC_FATHER_ID = #{id,jdbcType=VARCHAR}
  </delete>
<!--c查找所有二级类别-->
  <select id="selectAllChild" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dm_position_category where  PC_FATHER_ID != '0'
  </select>

  <!--根据父类id查找职位二级列表-->
  <select id="selectByFatherId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dm_position_category where  PC_FATHER_ID = #{id,jdbcType=VARCHAR}
  </select>

  <!--修改-->
  <update id="updateById" parameterType="map">
    update dm_position_category
    <set>
      <if test="typeName != null">
        PC_TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null">
        PC_FATHER_ID = #{fatherId,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        PC_URL = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <!--查找一级类-->

  <select id="selectBaseKinds"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dm_position_category
    where PC_FATHER_ID = '0'
  </select>
  <!--自制-->

  <select id="selectByExample" parameterType="com.duomiao.entity.PositionCategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dm_position_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dm_position_category
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dm_position_category
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.duomiao.entity.PositionCategoryExample">
    delete from dm_position_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duomiao.entity.PositionCategory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dm_position_category (PC_TYPE_NAME, PC_FATHER_ID, PC_URL
      )
    values (#{typeName,jdbcType=VARCHAR}, #{fatherId,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.duomiao.entity.PositionCategory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dm_position_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeName != null">
        PC_TYPE_NAME,
      </if>
      <if test="fatherId != null">
        PC_FATHER_ID,
      </if>
      <if test="url != null">
        PC_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null">
        #{fatherId,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duomiao.entity.PositionCategoryExample" resultType="java.lang.Long">
    select count(*) from dm_position_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dm_position_category
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null">
        PC_TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.fatherId != null">
        PC_FATHER_ID = #{record.fatherId,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        PC_URL = #{record.url,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dm_position_category
    set ID = #{record.id,jdbcType=VARCHAR},
      PC_TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      PC_FATHER_ID = #{record.fatherId,jdbcType=VARCHAR},
      PC_URL = #{record.url,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duomiao.entity.PositionCategory">
    update dm_position_category
    <set>
      <if test="typeName != null">
        PC_TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null">
        PC_FATHER_ID = #{fatherId,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        PC_URL = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duomiao.entity.PositionCategory">
    update dm_position_category
    set PC_TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      PC_FATHER_ID = #{fatherId,jdbcType=VARCHAR},
      PC_URL = #{url,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>