<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duomiao.mapper.PublishJobMapper">
  <resultMap id="BaseResultMap" type="com.duomiao.entity.PublishJob">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PJ_JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <result column="PJ_ENT_ID" jdbcType="VARCHAR" property="entId" />
    <result column="PJ_PC_ID" jdbcType="VARCHAR" property="pcId" />
    <result column="PJ_MIN_SALARY" jdbcType="VARCHAR" property="minSalary" />
    <result column="PJ_MAX_SALARY" jdbcType="VARCHAR" property="maxSalary" />
    <result column="PJ_MIN_EDUCATION_LEV" jdbcType="VARCHAR" property="minEducationLev" />
    <result column="PJ_WORK_PLACE" jdbcType="VARCHAR" property="workPlace" />
    <result column="PJ_WORK_DAYS" jdbcType="VARCHAR" property="workDays" />
    <result column="PJ_WORK_MONTH" jdbcType="VARCHAR" property="workMonth" />
    <result column="PJ_UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="PJ_CUT_DATE" jdbcType="TIMESTAMP" property="cutDate" />
    <result column="PJ_URGENCY" jdbcType="CHAR" property="urgency" />
    <result column="PJ_SEND_NUM" jdbcType="INTEGER" property="sendNum" />
    <result column="PJ_DESCRIBE" jdbcType="LONGVARCHAR" property="describe" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.duomiao.entity.PublishJob">
    <result column="PJ_DESCRIBE" jdbcType="LONGVARCHAR" property="describe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, PJ_JOB_NAME, PJ_ENT_ID, PJ_PC_ID, PJ_MIN_SALARY, PJ_MAX_SALARY, PJ_MIN_EDUCATION_LEV, 
    PJ_WORK_PLACE, PJ_WORK_DAYS, PJ_WORK_MONTH, PJ_UPDATE_TIME, PJ_CUT_DATE, PJ_URGENCY, 
    PJ_SEND_NUM
  </sql>
  <sql id="Blob_Column_List">
    PJ_DESCRIBE
  </sql>
  <sql id="Base_Columns">
    ID, PJ_JOB_NAME, PJ_ENT_ID, PJ_PC_ID, PJ_MIN_SALARY, PJ_MAX_SALARY, PJ_MIN_EDUCATION_LEV,
    PJ_WORK_PLACE, PJ_WORK_DAYS, PJ_WORK_MONTH, PJ_UPDATE_TIME, PJ_CUT_DATE, PJ_URGENCY,
    PJ_SEND_NUM,PJ_DESCRIBE
  </sql>

<!--定制Sql-->
  <!--HR查看自己所发布的职位信息|前端分页/没有条件查询-->
  <select id="selectMyPubJobs" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Columns" />
    from dm_publish_job
   where PJ_ENT_ID = #{entId,jdbcType=VARCHAR}
     order by PJ_UPDATE_TIME desc
  </select>

<!--hr自己删除根据主键删除-->

  <!--发布职位-->
  <insert id="insertPubJob" parameterType="com.duomiao.entity.PublishJob">
    insert into dm_publish_job
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
       ID,
      </if>
      <if test="jobName != null">
        PJ_JOB_NAME,
      </if>
      <if test="entId != null">
        PJ_ENT_ID,
      </if>
      <if test="pcId != null">
        PJ_PC_ID,
      </if>
      <if test="minSalary != null">
        PJ_MIN_SALARY,
      </if>
      <if test="maxSalary != null">
        PJ_MAX_SALARY,
      </if>
      <if test="minEducationLev != null">
        PJ_MIN_EDUCATION_LEV,
      </if>
      <if test="workPlace != null">
        PJ_WORK_PLACE,
      </if>
      <if test="workDays != null">
        PJ_WORK_DAYS,
      </if>
      <if test="workMonth != null">
        PJ_WORK_MONTH,
      </if>
      <if test="updateTime != null">
        PJ_UPDATE_TIME,
      </if>
      <if test="cutDate != null">
        PJ_CUT_DATE,
      </if>
      <if test="urgency != null">
        PJ_URGENCY,
      </if>
      <if test="sendNum != null">
        PJ_SEND_NUM,
      </if>
      <if test="describe != null">
        PJ_DESCRIBE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null">
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="entId != null">
        #{entId,jdbcType=VARCHAR},
      </if>
      <if test="pcId != null">
        #{pcId,jdbcType=VARCHAR},
      </if>
      <if test="minSalary != null">
        #{minSalary,jdbcType=VARCHAR},
      </if>
      <if test="maxSalary != null">
        #{maxSalary,jdbcType=VARCHAR},
      </if>
      <if test="minEducationLev != null">
        #{minEducationLev,jdbcType=VARCHAR},
      </if>
      <if test="workPlace != null">
        #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="workDays != null">
        #{workDays,jdbcType=VARCHAR},
      </if>
      <if test="workMonth != null">
        #{workMonth,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cutDate != null">
        #{cutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="urgency != null">
        #{urgency,jdbcType=CHAR},
      </if>
      <if test="sendNum != null">
        #{sendNum,jdbcType=INTEGER},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <!--hr自己修改职位,或投递简历时系统自动更新send数量-->
  <update id="updateMyPubJobById" parameterType="map">
    update dm_publish_job
    <set>
      <if test="jobName != null">
        PJ_JOB_NAME = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="pcId != null">
        PJ_PC_ID = #{pcId,jdbcType=VARCHAR},
      </if>
      <if test="minSalary != null">
        PJ_MIN_SALARY = #{minSalary,jdbcType=VARCHAR},
      </if>
      <if test="maxSalary != null">
        PJ_MAX_SALARY = #{maxSalary,jdbcType=VARCHAR},
      </if>
      <if test="minEducationLev != null">
        PJ_MIN_EDUCATION_LEV = #{minEducationLev,jdbcType=VARCHAR},
      </if>
      <if test="workPlace != null">
        PJ_WORK_PLACE = #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="workDays != null">
        PJ_WORK_DAYS = #{workDays,jdbcType=VARCHAR},
      </if>
      <if test="workMonth != null">
        PJ_WORK_MONTH = #{workMonth,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        PJ_UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cutDate != null">
        PJ_CUT_DATE = #{cutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="urgency != null">
        PJ_URGENCY = #{urgency,jdbcType=CHAR},
      </if>
      <if test="sendNum != null">
        PJ_SEND_NUM = #{sendNum,jdbcType=INTEGER},
      </if>
      <if test="describe != null">
        PJ_DESCRIBE = #{describe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <!--过期职位数据清除，定时删除-->

<!--重点部分，公共职位搜索算法-->



  <!--定制Sql-->
  <select id="selectByExampleWithBLOBs" parameterType="com.duomiao.entity.PublishJobExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dm_publish_job
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.duomiao.entity.PublishJobExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dm_publish_job
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dm_publish_job
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dm_publish_job
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.duomiao.entity.PublishJobExample">
    delete from dm_publish_job
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duomiao.entity.PublishJob">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dm_publish_job (PJ_JOB_NAME, PJ_ENT_ID, PJ_PC_ID, 
      PJ_MIN_SALARY, PJ_MAX_SALARY, PJ_MIN_EDUCATION_LEV, 
      PJ_WORK_PLACE, PJ_WORK_DAYS, PJ_WORK_MONTH, 
      PJ_UPDATE_TIME, PJ_CUT_DATE, PJ_URGENCY, 
      PJ_SEND_NUM, PJ_DESCRIBE)
    values (#{jobName,jdbcType=VARCHAR}, #{entId,jdbcType=VARCHAR}, #{pcId,jdbcType=VARCHAR}, 
      #{minSalary,jdbcType=VARCHAR}, #{maxSalary,jdbcType=VARCHAR}, #{minEducationLev,jdbcType=VARCHAR}, 
      #{workPlace,jdbcType=VARCHAR}, #{workDays,jdbcType=VARCHAR}, #{workMonth,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{cutDate,jdbcType=TIMESTAMP}, #{urgency,jdbcType=CHAR}, 
      #{sendNum,jdbcType=INTEGER}, #{describe,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.duomiao.entity.PublishJob">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dm_publish_job
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jobName != null">
        PJ_JOB_NAME,
      </if>
      <if test="entId != null">
        PJ_ENT_ID,
      </if>
      <if test="pcId != null">
        PJ_PC_ID,
      </if>
      <if test="minSalary != null">
        PJ_MIN_SALARY,
      </if>
      <if test="maxSalary != null">
        PJ_MAX_SALARY,
      </if>
      <if test="minEducationLev != null">
        PJ_MIN_EDUCATION_LEV,
      </if>
      <if test="workPlace != null">
        PJ_WORK_PLACE,
      </if>
      <if test="workDays != null">
        PJ_WORK_DAYS,
      </if>
      <if test="workMonth != null">
        PJ_WORK_MONTH,
      </if>
      <if test="updateTime != null">
        PJ_UPDATE_TIME,
      </if>
      <if test="cutDate != null">
        PJ_CUT_DATE,
      </if>
      <if test="urgency != null">
        PJ_URGENCY,
      </if>
      <if test="sendNum != null">
        PJ_SEND_NUM,
      </if>
      <if test="describe != null">
        PJ_DESCRIBE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jobName != null">
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="entId != null">
        #{entId,jdbcType=VARCHAR},
      </if>
      <if test="pcId != null">
        #{pcId,jdbcType=VARCHAR},
      </if>
      <if test="minSalary != null">
        #{minSalary,jdbcType=VARCHAR},
      </if>
      <if test="maxSalary != null">
        #{maxSalary,jdbcType=VARCHAR},
      </if>
      <if test="minEducationLev != null">
        #{minEducationLev,jdbcType=VARCHAR},
      </if>
      <if test="workPlace != null">
        #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="workDays != null">
        #{workDays,jdbcType=VARCHAR},
      </if>
      <if test="workMonth != null">
        #{workMonth,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cutDate != null">
        #{cutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="urgency != null">
        #{urgency,jdbcType=CHAR},
      </if>
      <if test="sendNum != null">
        #{sendNum,jdbcType=INTEGER},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duomiao.entity.PublishJobExample" resultType="java.lang.Long">
    select count(*) from dm_publish_job
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dm_publish_job
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.jobName != null">
        PJ_JOB_NAME = #{record.jobName,jdbcType=VARCHAR},
      </if>
      <if test="record.entId != null">
        PJ_ENT_ID = #{record.entId,jdbcType=VARCHAR},
      </if>
      <if test="record.pcId != null">
        PJ_PC_ID = #{record.pcId,jdbcType=VARCHAR},
      </if>
      <if test="record.minSalary != null">
        PJ_MIN_SALARY = #{record.minSalary,jdbcType=VARCHAR},
      </if>
      <if test="record.maxSalary != null">
        PJ_MAX_SALARY = #{record.maxSalary,jdbcType=VARCHAR},
      </if>
      <if test="record.minEducationLev != null">
        PJ_MIN_EDUCATION_LEV = #{record.minEducationLev,jdbcType=VARCHAR},
      </if>
      <if test="record.workPlace != null">
        PJ_WORK_PLACE = #{record.workPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.workDays != null">
        PJ_WORK_DAYS = #{record.workDays,jdbcType=VARCHAR},
      </if>
      <if test="record.workMonth != null">
        PJ_WORK_MONTH = #{record.workMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        PJ_UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cutDate != null">
        PJ_CUT_DATE = #{record.cutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.urgency != null">
        PJ_URGENCY = #{record.urgency,jdbcType=CHAR},
      </if>
      <if test="record.sendNum != null">
        PJ_SEND_NUM = #{record.sendNum,jdbcType=INTEGER},
      </if>
      <if test="record.describe != null">
        PJ_DESCRIBE = #{record.describe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update dm_publish_job
    set ID = #{record.id,jdbcType=VARCHAR},
      PJ_JOB_NAME = #{record.jobName,jdbcType=VARCHAR},
      PJ_ENT_ID = #{record.entId,jdbcType=VARCHAR},
      PJ_PC_ID = #{record.pcId,jdbcType=VARCHAR},
      PJ_MIN_SALARY = #{record.minSalary,jdbcType=VARCHAR},
      PJ_MAX_SALARY = #{record.maxSalary,jdbcType=VARCHAR},
      PJ_MIN_EDUCATION_LEV = #{record.minEducationLev,jdbcType=VARCHAR},
      PJ_WORK_PLACE = #{record.workPlace,jdbcType=VARCHAR},
      PJ_WORK_DAYS = #{record.workDays,jdbcType=VARCHAR},
      PJ_WORK_MONTH = #{record.workMonth,jdbcType=VARCHAR},
      PJ_UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      PJ_CUT_DATE = #{record.cutDate,jdbcType=TIMESTAMP},
      PJ_URGENCY = #{record.urgency,jdbcType=CHAR},
      PJ_SEND_NUM = #{record.sendNum,jdbcType=INTEGER},
      PJ_DESCRIBE = #{record.describe,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dm_publish_job
    set ID = #{record.id,jdbcType=VARCHAR},
      PJ_JOB_NAME = #{record.jobName,jdbcType=VARCHAR},
      PJ_ENT_ID = #{record.entId,jdbcType=VARCHAR},
      PJ_PC_ID = #{record.pcId,jdbcType=VARCHAR},
      PJ_MIN_SALARY = #{record.minSalary,jdbcType=VARCHAR},
      PJ_MAX_SALARY = #{record.maxSalary,jdbcType=VARCHAR},
      PJ_MIN_EDUCATION_LEV = #{record.minEducationLev,jdbcType=VARCHAR},
      PJ_WORK_PLACE = #{record.workPlace,jdbcType=VARCHAR},
      PJ_WORK_DAYS = #{record.workDays,jdbcType=VARCHAR},
      PJ_WORK_MONTH = #{record.workMonth,jdbcType=VARCHAR},
      PJ_UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      PJ_CUT_DATE = #{record.cutDate,jdbcType=TIMESTAMP},
      PJ_URGENCY = #{record.urgency,jdbcType=CHAR},
      PJ_SEND_NUM = #{record.sendNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duomiao.entity.PublishJob">
    update dm_publish_job
    <set>
      <if test="jobName != null">
        PJ_JOB_NAME = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="entId != null">
        PJ_ENT_ID = #{entId,jdbcType=VARCHAR},
      </if>
      <if test="pcId != null">
        PJ_PC_ID = #{pcId,jdbcType=VARCHAR},
      </if>
      <if test="minSalary != null">
        PJ_MIN_SALARY = #{minSalary,jdbcType=VARCHAR},
      </if>
      <if test="maxSalary != null">
        PJ_MAX_SALARY = #{maxSalary,jdbcType=VARCHAR},
      </if>
      <if test="minEducationLev != null">
        PJ_MIN_EDUCATION_LEV = #{minEducationLev,jdbcType=VARCHAR},
      </if>
      <if test="workPlace != null">
        PJ_WORK_PLACE = #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="workDays != null">
        PJ_WORK_DAYS = #{workDays,jdbcType=VARCHAR},
      </if>
      <if test="workMonth != null">
        PJ_WORK_MONTH = #{workMonth,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        PJ_UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cutDate != null">
        PJ_CUT_DATE = #{cutDate,jdbcType=TIMESTAMP},
      </if>
      <if test="urgency != null">
        PJ_URGENCY = #{urgency,jdbcType=CHAR},
      </if>
      <if test="sendNum != null">
        PJ_SEND_NUM = #{sendNum,jdbcType=INTEGER},
      </if>
      <if test="describe != null">
        PJ_DESCRIBE = #{describe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.duomiao.entity.PublishJob">
    update dm_publish_job
    set PJ_JOB_NAME = #{jobName,jdbcType=VARCHAR},
      PJ_ENT_ID = #{entId,jdbcType=VARCHAR},
      PJ_PC_ID = #{pcId,jdbcType=VARCHAR},
      PJ_MIN_SALARY = #{minSalary,jdbcType=VARCHAR},
      PJ_MAX_SALARY = #{maxSalary,jdbcType=VARCHAR},
      PJ_MIN_EDUCATION_LEV = #{minEducationLev,jdbcType=VARCHAR},
      PJ_WORK_PLACE = #{workPlace,jdbcType=VARCHAR},
      PJ_WORK_DAYS = #{workDays,jdbcType=VARCHAR},
      PJ_WORK_MONTH = #{workMonth,jdbcType=VARCHAR},
      PJ_UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      PJ_CUT_DATE = #{cutDate,jdbcType=TIMESTAMP},
      PJ_URGENCY = #{urgency,jdbcType=CHAR},
      PJ_SEND_NUM = #{sendNum,jdbcType=INTEGER},
      PJ_DESCRIBE = #{describe,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duomiao.entity.PublishJob">
    update dm_publish_job
    set PJ_JOB_NAME = #{jobName,jdbcType=VARCHAR},
      PJ_ENT_ID = #{entId,jdbcType=VARCHAR},
      PJ_PC_ID = #{pcId,jdbcType=VARCHAR},
      PJ_MIN_SALARY = #{minSalary,jdbcType=VARCHAR},
      PJ_MAX_SALARY = #{maxSalary,jdbcType=VARCHAR},
      PJ_MIN_EDUCATION_LEV = #{minEducationLev,jdbcType=VARCHAR},
      PJ_WORK_PLACE = #{workPlace,jdbcType=VARCHAR},
      PJ_WORK_DAYS = #{workDays,jdbcType=VARCHAR},
      PJ_WORK_MONTH = #{workMonth,jdbcType=VARCHAR},
      PJ_UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      PJ_CUT_DATE = #{cutDate,jdbcType=TIMESTAMP},
      PJ_URGENCY = #{urgency,jdbcType=CHAR},
      PJ_SEND_NUM = #{sendNum,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>