<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duomiao.mapper.ResumeInfoMapper">
  <resultMap id="BaseResultMap" type="com.duomiao.entity.ResumeInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="RI_NAME" jdbcType="VARCHAR" property="name" />
    <result column="RI_MOTTO" jdbcType="VARCHAR" property="motto" />
    <result column="RI_SEX" jdbcType="VARCHAR" property="sex" />
    <result column="RI_AGE" jdbcType="VARCHAR" property="age" />
    <result column="RI_HP" jdbcType="VARCHAR" property="hp" />
    <result column="RI_TEl" jdbcType="VARCHAR" property="tel" />
    <result column="RI_EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="RI_MAJOR" jdbcType="VARCHAR" property="major" />
    <result column="RI_COLLOGE" jdbcType="VARCHAR" property="colloge" />
    <result column="RI_ACADEMIC" jdbcType="VARCHAR" property="academic" />
    <result column="RI_JOB_NAME" jdbcType="VARCHAR" property="jobName" />
    <result column="RI_WORKPLACE" jdbcType="VARCHAR" property="workplace" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.duomiao.entity.ResumeInfoWithBLOBs">
    <result column="RI_EDUCATION" jdbcType="LONGVARCHAR" property="education" />
    <result column="RI_CERT_REWARD" jdbcType="LONGVARCHAR" property="certReward" />
    <result column="RI_SKILL" jdbcType="LONGVARCHAR" property="skill" />
    <result column="RI_WORK_EXPERIENCE" jdbcType="LONGVARCHAR" property="workExperience" />
    <result column="RI_PRO_EXPERIENCE" jdbcType="LONGVARCHAR" property="proExperience" />
    <result column="RI_VALUATION" jdbcType="LONGVARCHAR" property="valuation" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, RI_NAME, RI_MOTTO, RI_SEX, RI_AGE, RI_HP, RI_TEl, RI_EMAIL, RI_MAJOR, RI_COLLOGE, 
    RI_ACADEMIC, RI_JOB_NAME, RI_WORKPLACE
  </sql>
  <sql id="Blob_Column_List">
    RI_EDUCATION, RI_CERT_REWARD, RI_SKILL, RI_WORK_EXPERIENCE, RI_PRO_EXPERIENCE, RI_VALUATION
  </sql>

  <!--自定义sql-->
  <update id="updateMyResumeInfoByEmail" parameterType="java.util.Map">
    update dm_resume_info
    <set>
      <if test="name != null and name != ''">
        RI_NAME = #{name,jdbcType=VARCHAR},
      </if>
        RI_MOTTO = #{motto,jdbcType=VARCHAR},
      <if test="sex != null and sex != ''">
        RI_SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null and age != ''">
        RI_AGE = #{age,jdbcType=VARCHAR},
      </if>
      <if test="hp != null and hp!= ''">
        RI_HP = #{hp,jdbcType=VARCHAR},
      </if>
      <if test="tel != null and tel != ''">
        RI_TEl = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="major != null and major !=''">
        RI_MAJOR = #{major,jdbcType=VARCHAR},
      </if>
      <if test="colloge != null and colloge != ''">
        RI_COLLOGE = #{colloge,jdbcType=VARCHAR},
      </if>
      <if test="academic != null and academic != ''">
        RI_ACADEMIC = #{academic,jdbcType=VARCHAR},
      </if>
        RI_JOB_NAME = #{jobName,jdbcType=VARCHAR},
        RI_WORKPLACE = #{workplace,jdbcType=VARCHAR},
        RI_EDUCATION = #{education,jdbcType=LONGVARCHAR},
        RI_CERT_REWARD = #{certReward,jdbcType=LONGVARCHAR},
      <if test="skill != null and skill != ''">
        RI_SKILL = #{skill,jdbcType=LONGVARCHAR},
      </if>
      <if test="workExperience != null">
        RI_WORK_EXPERIENCE = #{workExperience,jdbcType=LONGVARCHAR},
      </if>
      <if test="proExperience != null">
        RI_PRO_EXPERIENCE = #{proExperience,jdbcType=LONGVARCHAR},
      </if>
      <if test="valuation != null">
        RI_VALUATION = #{valuation,jdbcType=LONGVARCHAR},
      </if>
    </set>
     where RI_EMAIL = #{email,jdbcType=VARCHAR}
  </update>

  <!--创建简历-->
  <insert id ="insertMyResumeInfo" parameterType="map">
    insert into dm_resume_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        RI_NAME,
      </if>
      <if test="motto != null">
        RI_MOTTO,
      </if>
      <if test="sex != null">
        RI_SEX,
      </if>
      <if test="age != null">
        RI_AGE,
      </if>
      <if test="hp != null">
        RI_HP,
      </if>
      <if test="tel != null">
        RI_TEl,
      </if>
      <if test="email != null">
        RI_EMAIL,
      </if>
      <if test="major != null">
        RI_MAJOR,
      </if>
      <if test="colloge != null">
        RI_COLLOGE,
      </if>
      <if test="academic != null">
        RI_ACADEMIC,
      </if>
      <if test="jobName != null">
        RI_JOB_NAME,
      </if>
      <if test="workplace != null">
        RI_WORKPLACE,
      </if>
      <if test="education != null">
        RI_EDUCATION,
      </if>
      <if test="certReward != null">
        RI_CERT_REWARD,
      </if>
      <if test="skill != null">
        RI_SKILL,
      </if>
      <if test="workExperience != null">
        RI_WORK_EXPERIENCE,
      </if>
      <if test="proExperience != null">
        RI_PRO_EXPERIENCE,
      </if>
      <if test="valuation != null">
        RI_VALUATION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="motto != null">
        #{motto,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="hp != null">
        #{hp,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="colloge != null">
        #{colloge,jdbcType=VARCHAR},
      </if>
      <if test="academic != null">
        #{academic,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null">
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="workplace != null">
        #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=LONGVARCHAR},
      </if>
      <if test="certReward != null">
        #{certReward,jdbcType=LONGVARCHAR},
      </if>
      <if test="skill != null">
        #{skill,jdbcType=LONGVARCHAR},
      </if>
      <if test="workExperience != null">
        #{workExperience,jdbcType=LONGVARCHAR},
      </if>
      <if test="proExperience != null">
        #{proExperience,jdbcType=LONGVARCHAR},
      </if>
      <if test="valuation != null">
        #{valuation,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <!--查看简历，根据简历ID或者邮箱-->
  <select id="selectResumeInfoByIDOrEmail" parameterType="map" resultMap="ResultMapWithBLOBs">
    select
    ID, RI_NAME, RI_MOTTO, RI_SEX, RI_AGE, RI_HP, RI_TEl, RI_EMAIL, RI_MAJOR, RI_COLLOGE,
    RI_ACADEMIC, RI_JOB_NAME, RI_WORKPLACE, RI_EDUCATION, RI_CERT_REWARD, RI_SKILL, RI_WORK_EXPERIENCE, RI_PRO_EXPERIENCE, RI_VALUATION
    from dm_resume_info
    <where>
      <if test="id != null and id != ''">ID = #{id,jdbcType=VARCHAR}</if>
      <if test="id != null and id != ''">AND RI_EMAIL = #{email,jdbcType=VARCHAR}</if>
    </where>
  </select>

  <select id="selectByExampleWithBLOBs" parameterType="com.duomiao.entity.ResumeInfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dm_resume_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.duomiao.entity.ResumeInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dm_resume_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dm_resume_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dm_resume_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.duomiao.entity.ResumeInfoExample">
    delete from dm_resume_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.duomiao.entity.ResumeInfoWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dm_resume_info (RI_NAME, RI_MOTTO, RI_SEX, 
      RI_AGE, RI_HP, RI_TEl, RI_EMAIL, 
      RI_MAJOR, RI_COLLOGE, RI_ACADEMIC, 
      RI_JOB_NAME, RI_WORKPLACE, RI_EDUCATION, 
      RI_CERT_REWARD, RI_SKILL, RI_WORK_EXPERIENCE, 
      RI_PRO_EXPERIENCE, RI_VALUATION)
    values (#{name,jdbcType=VARCHAR}, #{motto,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{age,jdbcType=VARCHAR}, #{hp,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{major,jdbcType=VARCHAR}, #{colloge,jdbcType=VARCHAR}, #{academic,jdbcType=VARCHAR}, 
      #{jobName,jdbcType=VARCHAR}, #{workplace,jdbcType=VARCHAR}, #{education,jdbcType=LONGVARCHAR}, 
      #{certReward,jdbcType=LONGVARCHAR}, #{skill,jdbcType=LONGVARCHAR}, #{workExperience,jdbcType=LONGVARCHAR}, 
      #{proExperience,jdbcType=LONGVARCHAR}, #{valuation,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.duomiao.entity.ResumeInfoWithBLOBs">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dm_resume_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        RI_NAME,
      </if>
      <if test="motto != null">
        RI_MOTTO,
      </if>
      <if test="sex != null">
        RI_SEX,
      </if>
      <if test="age != null">
        RI_AGE,
      </if>
      <if test="hp != null">
        RI_HP,
      </if>
      <if test="tel != null">
        RI_TEl,
      </if>
      <if test="email != null">
        RI_EMAIL,
      </if>
      <if test="major != null">
        RI_MAJOR,
      </if>
      <if test="colloge != null">
        RI_COLLOGE,
      </if>
      <if test="academic != null">
        RI_ACADEMIC,
      </if>
      <if test="jobName != null">
        RI_JOB_NAME,
      </if>
      <if test="workplace != null">
        RI_WORKPLACE,
      </if>
      <if test="education != null">
        RI_EDUCATION,
      </if>
      <if test="certReward != null">
        RI_CERT_REWARD,
      </if>
      <if test="skill != null">
        RI_SKILL,
      </if>
      <if test="workExperience != null">
        RI_WORK_EXPERIENCE,
      </if>
      <if test="proExperience != null">
        RI_PRO_EXPERIENCE,
      </if>
      <if test="valuation != null">
        RI_VALUATION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="motto != null">
        #{motto,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="hp != null">
        #{hp,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="colloge != null">
        #{colloge,jdbcType=VARCHAR},
      </if>
      <if test="academic != null">
        #{academic,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null">
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="workplace != null">
        #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=LONGVARCHAR},
      </if>
      <if test="certReward != null">
        #{certReward,jdbcType=LONGVARCHAR},
      </if>
      <if test="skill != null">
        #{skill,jdbcType=LONGVARCHAR},
      </if>
      <if test="workExperience != null">
        #{workExperience,jdbcType=LONGVARCHAR},
      </if>
      <if test="proExperience != null">
        #{proExperience,jdbcType=LONGVARCHAR},
      </if>
      <if test="valuation != null">
        #{valuation,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.duomiao.entity.ResumeInfoExample" resultType="java.lang.Long">
    select count(*) from dm_resume_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dm_resume_info
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        RI_NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.motto != null">
        RI_MOTTO = #{record.motto,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        RI_SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null">
        RI_AGE = #{record.age,jdbcType=VARCHAR},
      </if>
      <if test="record.hp != null">
        RI_HP = #{record.hp,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null">
        RI_TEl = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        RI_EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null">
        RI_MAJOR = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.colloge != null">
        RI_COLLOGE = #{record.colloge,jdbcType=VARCHAR},
      </if>
      <if test="record.academic != null">
        RI_ACADEMIC = #{record.academic,jdbcType=VARCHAR},
      </if>
      <if test="record.jobName != null">
        RI_JOB_NAME = #{record.jobName,jdbcType=VARCHAR},
      </if>
      <if test="record.workplace != null">
        RI_WORKPLACE = #{record.workplace,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null">
        RI_EDUCATION = #{record.education,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.certReward != null">
        RI_CERT_REWARD = #{record.certReward,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.skill != null">
        RI_SKILL = #{record.skill,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.workExperience != null">
        RI_WORK_EXPERIENCE = #{record.workExperience,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.proExperience != null">
        RI_PRO_EXPERIENCE = #{record.proExperience,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.valuation != null">
        RI_VALUATION = #{record.valuation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update dm_resume_info
    set ID = #{record.id,jdbcType=VARCHAR},
      RI_NAME = #{record.name,jdbcType=VARCHAR},
      RI_MOTTO = #{record.motto,jdbcType=VARCHAR},
      RI_SEX = #{record.sex,jdbcType=VARCHAR},
      RI_AGE = #{record.age,jdbcType=VARCHAR},
      RI_HP = #{record.hp,jdbcType=VARCHAR},
      RI_TEl = #{record.tel,jdbcType=VARCHAR},
      RI_EMAIL = #{record.email,jdbcType=VARCHAR},
      RI_MAJOR = #{record.major,jdbcType=VARCHAR},
      RI_COLLOGE = #{record.colloge,jdbcType=VARCHAR},
      RI_ACADEMIC = #{record.academic,jdbcType=VARCHAR},
      RI_JOB_NAME = #{record.jobName,jdbcType=VARCHAR},
      RI_WORKPLACE = #{record.workplace,jdbcType=VARCHAR},
      RI_EDUCATION = #{record.education,jdbcType=LONGVARCHAR},
      RI_CERT_REWARD = #{record.certReward,jdbcType=LONGVARCHAR},
      RI_SKILL = #{record.skill,jdbcType=LONGVARCHAR},
      RI_WORK_EXPERIENCE = #{record.workExperience,jdbcType=LONGVARCHAR},
      RI_PRO_EXPERIENCE = #{record.proExperience,jdbcType=LONGVARCHAR},
      RI_VALUATION = #{record.valuation,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dm_resume_info
    set ID = #{record.id,jdbcType=VARCHAR},
      RI_NAME = #{record.name,jdbcType=VARCHAR},
      RI_MOTTO = #{record.motto,jdbcType=VARCHAR},
      RI_SEX = #{record.sex,jdbcType=VARCHAR},
      RI_AGE = #{record.age,jdbcType=VARCHAR},
      RI_HP = #{record.hp,jdbcType=VARCHAR},
      RI_TEl = #{record.tel,jdbcType=VARCHAR},
      RI_EMAIL = #{record.email,jdbcType=VARCHAR},
      RI_MAJOR = #{record.major,jdbcType=VARCHAR},
      RI_COLLOGE = #{record.colloge,jdbcType=VARCHAR},
      RI_ACADEMIC = #{record.academic,jdbcType=VARCHAR},
      RI_JOB_NAME = #{record.jobName,jdbcType=VARCHAR},
      RI_WORKPLACE = #{record.workplace,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.duomiao.entity.ResumeInfoWithBLOBs">
    update dm_resume_info
    <set>
      <if test="name != null">
        RI_NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="motto != null">
        RI_MOTTO = #{motto,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        RI_SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        RI_AGE = #{age,jdbcType=VARCHAR},
      </if>
      <if test="hp != null">
        RI_HP = #{hp,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        RI_TEl = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        RI_EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        RI_MAJOR = #{major,jdbcType=VARCHAR},
      </if>
      <if test="colloge != null">
        RI_COLLOGE = #{colloge,jdbcType=VARCHAR},
      </if>
      <if test="academic != null">
        RI_ACADEMIC = #{academic,jdbcType=VARCHAR},
      </if>
      <if test="jobName != null">
        RI_JOB_NAME = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="workplace != null">
        RI_WORKPLACE = #{workplace,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        RI_EDUCATION = #{education,jdbcType=LONGVARCHAR},
      </if>
      <if test="certReward != null">
        RI_CERT_REWARD = #{certReward,jdbcType=LONGVARCHAR},
      </if>
      <if test="skill != null">
        RI_SKILL = #{skill,jdbcType=LONGVARCHAR},
      </if>
      <if test="workExperience != null">
        RI_WORK_EXPERIENCE = #{workExperience,jdbcType=LONGVARCHAR},
      </if>
      <if test="proExperience != null">
        RI_PRO_EXPERIENCE = #{proExperience,jdbcType=LONGVARCHAR},
      </if>
      <if test="valuation != null">
        RI_VALUATION = #{valuation,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.duomiao.entity.ResumeInfoWithBLOBs">
    update dm_resume_info
    set RI_NAME = #{name,jdbcType=VARCHAR},
      RI_MOTTO = #{motto,jdbcType=VARCHAR},
      RI_SEX = #{sex,jdbcType=VARCHAR},
      RI_AGE = #{age,jdbcType=VARCHAR},
      RI_HP = #{hp,jdbcType=VARCHAR},
      RI_TEl = #{tel,jdbcType=VARCHAR},
      RI_EMAIL = #{email,jdbcType=VARCHAR},
      RI_MAJOR = #{major,jdbcType=VARCHAR},
      RI_COLLOGE = #{colloge,jdbcType=VARCHAR},
      RI_ACADEMIC = #{academic,jdbcType=VARCHAR},
      RI_JOB_NAME = #{jobName,jdbcType=VARCHAR},
      RI_WORKPLACE = #{workplace,jdbcType=VARCHAR},
      RI_EDUCATION = #{education,jdbcType=LONGVARCHAR},
      RI_CERT_REWARD = #{certReward,jdbcType=LONGVARCHAR},
      RI_SKILL = #{skill,jdbcType=LONGVARCHAR},
      RI_WORK_EXPERIENCE = #{workExperience,jdbcType=LONGVARCHAR},
      RI_PRO_EXPERIENCE = #{proExperience,jdbcType=LONGVARCHAR},
      RI_VALUATION = #{valuation,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.duomiao.entity.ResumeInfo">
    update dm_resume_info
    set RI_NAME = #{name,jdbcType=VARCHAR},
      RI_MOTTO = #{motto,jdbcType=VARCHAR},
      RI_SEX = #{sex,jdbcType=VARCHAR},
      RI_AGE = #{age,jdbcType=VARCHAR},
      RI_HP = #{hp,jdbcType=VARCHAR},
      RI_TEl = #{tel,jdbcType=VARCHAR},
      RI_EMAIL = #{email,jdbcType=VARCHAR},
      RI_MAJOR = #{major,jdbcType=VARCHAR},
      RI_COLLOGE = #{colloge,jdbcType=VARCHAR},
      RI_ACADEMIC = #{academic,jdbcType=VARCHAR},
      RI_JOB_NAME = #{jobName,jdbcType=VARCHAR},
      RI_WORKPLACE = #{workplace,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>