<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        ">
  <mvc:annotation-driven>
	<!-- spring解析返回结果成json -->
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json</value>
                        <value>application/xml;charset=UTF-8</value>  
                    </list>
                </property>
                <property name="features">
                    <list>
                        <value>PrettyFormat</value>
                        <value>WriteMapNullValue</value>
                        <value>WriteNullStringAsEmpty</value>
                        <value>WriteNullListAsEmpty</value>
                        <value>DisableCircularReferenceDetect</value><!-- 解决fastjson自动引用 $ref -->
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
	</mvc:annotation-driven>
	  <!-- 文件上传，定义文件解释器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 上传文件大于10kb时会生成临时文件 -->
        <property name="maxInMemorySize" value="10240"/>
        <!-- 最大文件大小，单位字节，-1为不限制大小 默认限制5M-->
        <property name="maxUploadSize" value="5242440"/>
    </bean>
	
        <!-- 扫描control包 -->
    <context:component-scan base-package="com.duomiao.control">
    </context:component-scan> 
         <mvc:resources location="/dmcss/" mapping="/dmcss/**"/>
         <mvc:resources location="/dmjs/" mapping="/dmjs/**"/>
          <mvc:resources location="/imgs/" mapping="/imgs/**"/>
          <mvc:resources location="/NewFile.html" mapping="/NewFile.html"/> 
         <!--  配置mvc的拦截器 可以配置多个 -->  
 <!--    <mvc:interceptors>  
        <mvc:interceptor>  
             需要被拦截的路径  
            <mvc:mapping path="/admin/**" />
            <mvc:exclude-mapping path="/admin/user/login.do"/>
             <mvc:exclude-mapping path="/admin/user/register/*"/>
            拦截处理的interceptor  
            <bean class="com.permission.interceptor.PermissionInterceptor" />  
        </mvc:interceptor>  
    </mvc:interceptors>   -->
        
        <!--两大组件被取代  -->
     <!--    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>
         <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"></bean> -->
         <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    <property name="prefix" value="/WEB-INF/jsp/"/>
    <property name="suffix" value=".jsp"/>
</bean>
        <!--  <bean id="admin/dept/toadd.do" class="com.permission.control.DeptControl"></bean> -->
</beans>